{% extends 'patient/shared/layout.html' %}
{% block title %}
Appointment Details
{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<div class="main-content" id="panel">

    <!-- Header -->
    <div class="header pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <p class="display-2 text-default d-inline-block mb-0">Appointment Details</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header border-1">
                        <div class="row align-items-center">
                            <div class="col text-left">
                                <!-- <button class="btn btn-sm btn-success" onclick="AddNew()">Add New</button> -->
                                <h4 class="card-title d-inline">Appointment Details</h4>
                                <a class="btn btn-sm btn-success float-right" href="/patient/dashboard">Back</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label">Details</label>
                                    <textarea type="text" class="form-control"
                                        rows="10">{{ data.appointment.details }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label">Date</label>
                                    <input class="form-control" type="text" value="{{data.appointment.appointment_date}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label">Service</label>
                                    <input class="form-control" type="text" value="{{data.appointment.service.service}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label">Status</label>
                                    <input class="form-control" type="text" value="{{data.appointment.status.status}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header border-1">
                        <div class="row align-items-center">
                            <div class="col text-left">
                                <h4 class="card-title">Medical Record</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Record Number</label>
                                    <input type="text" class="form-control" value="{{data.appointment.record_number}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="record_date" class="form-control-label">Date Recorded</label>
                                    <input class="form-control" type="text" value="{{data.appointment.record_date}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label">Patient</label>
                                    <input class="form-control" type="text"
                                        value="{{data.appointment.account.first_name}} {{data.appointment.account.last_name}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label">Details</label>
                                    <textarea type="text" class="form-control "
                                        rows="20">{{ data.appointment.record_details }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label">Prescriptions</label>
                                    {% for i in data.appointment.prescriptions %}
                                        <input class="form-control mb-2" type="text" value="{{ i[2] }} items of {{ i[1] }}">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="form-group">
                            <label class="form-control-label">Medical Form</label>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if data.appointment.record_form is none %}
                            {{ data.appointment.status.form|safe }}
                        {% else %}
                            {{ data.appointment.record_form|safe }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

    setSideBar('#menu-dashboard')

</script>
{% endblock %}