{% extends 'patient/shared/layout.html' %}
{% block title %}
Request Appointment
{% endblock %}
{% block css %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<style>
    
    .ui-datepicker {
        width: 100% !important;
    }

    .ui-datepicker th {
        color: #525f7f !important;
    }

    .ui-datepicker td {
        padding: 0 !important;
    }

    .ui-widget-header, .ui-state-hover {
        background: transparent !important;
        color: #525f7f !important;
    }

    .ui-state-default {
        background: transparent !important;
        color: #525f7f !important;
        text-align: center !important;
    }

    .ui-state-active {
        background: white !important;
        color: #525f7f !important;
    }
    
</style>

{% endblock %}

{% block content %}
<div class="main-content" id="panel">

    <!-- Header -->
    <div class="header pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <p class="display-2 text-default d-inline-block mb-0">Appointment Request</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <h4 class="card-title d-inline">Appointment Information</h4>
                        <a class="btn btn-sm btn-success float-right" href="/patient/dashboard">Back</a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <input id="id" name="id" type="text" class="form-control " hidden value="-1">
                            <input id="status_id" name="status_id" type="text" class="form-control " hidden value="4">
                            <input id="account_id" name="account_id" type="text" class="form-control " hidden value="{{ current_user.id }}">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label">Details <span id="details_error"
                                            class="h5 text-danger"></span></label>
                                    <textarea id="details" name="details" type="text" class="form-control " rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">   
                            <div class="col-md-12">
                                <div class="card">
                                    <div id="appointment_date" type="date"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label">Schedule <span id="appointment_date_error" class="h5 text-danger"></span></label>
                                    <div class="custom-control custom-radio mb-3">
                                        <input type="radio" id="{{ time_schedules[0].t }}" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="{{ time_schedules[0].t }}">{{ time_schedules[0].t }}</label>
                                    </div>
                                    <div class="custom-control custom-radio mb-3">
                                        <input type="radio" id="{{ time_schedules[1].t }}" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="{{ time_schedules[1].t }}">{{ time_schedules[1].t }}</label>
                                    </div>
                                    <div class="custom-control custom-radio mb-3">
                                        <input type="radio" id="{{ time_schedules[2].t }}" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="{{ time_schedules[2].t }}">{{ time_schedules[2].t }}</label>
                                    </div>
                                    <div class="custom-control custom-radio mb-3">
                                        <input type="radio" id="{{ time_schedules[3].t }}" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="{{ time_schedules[3].t }}">{{ time_schedules[3].t }}</label>
                                    </div>
                                    <div class="custom-control custom-radio mb-3">
                                        <input type="radio" id="{{ time_schedules[4].t }}" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="{{ time_schedules[4].t }}">{{ time_schedules[4].t }}</label>
                                    </div>
                                    <div class="custom-control custom-radio mb-3">
                                        <input type="radio" id="{{ time_schedules[5].t }}" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="{{ time_schedules[5].t }}">{{ time_schedules[5].t }}</label>
                                    </div>
                                    <div class="custom-control custom-radio mb-3">
                                        <input type="radio" id="{{ time_schedules[6].t }}" name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="{{ time_schedules[6].t }}">{{ time_schedules[6].t }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label">Service <span id="service_id_error" class="h5 text-danger"></span></label>
                                    <select id="service_id" name="service_id" data-style="bg-white px-4 py-3 shadow-sm" class="form-control selectpicker" data-live-search="true">
                                        {% for service in data.services %}
                                            <option value="{{service.id}}">{{service.service}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm btn-success" onclick="SaveAppointment()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src='/static/js/jquery-ui.min.js'></script>

<script>

    $(document).ready(function () {
        Controller.GET('/api/appointment/get/slots').done(function(result) {
            populateCalendar(result)
        })
    })

    function populateCalendar(schedules) {

        state = {
            available       : [true, "bg-success", "Available"],
            not_available   : [false, "bg-danger", "Not Available"]
        }
        
        $('#appointment_date').datepicker({
            dateFormat: 'mm/dd/yy',
            onSelect: function(date, el) {
                radios = document.querySelectorAll('[type=radio]')
                radios.forEach(radio => {
                    radio.disabled = false
                    radio.checked = false
                })
                for (let i = 0; i < schedules.length; i++) { 
                    const schedule = schedules[i];
                    if(schedule.date == date) {
                        for (let i = 0; i < schedule.time.length; i++) {
                            const time = schedule.time[i];
                            if(time.slots == 0) {
                                document.getElementById(time.t).disabled = true
                            }
                        }
                    }
                }
            },
            beforeShowDay: function (in_date) {
                
                if (in_date.getDay() == 0 || in_date.getDay() == 6 || (new Date()) > in_date)
                    return state.not_available
                
                for (let i = 0; i < schedules.length; i++) {
                    const schedule = schedules[i];
                    date_1 = new Date(schedule.date)
                    date_2 = new Date(in_date)
                    if (date_1.getTime() == date_2.getTime()) {
                        if(schedule.slots == 0) return state.not_available
                    }
                }

                return state.available
                
            },
            autoclose: true

        })
        $('#appointment_date').val('')

    }
    

    function Refresh() {
        window.location.href = '/patient/appointment/request'
    }

    var SaveAppointment = function () {

        data = {
            'id'                : $('#id').val(),
            'account_id'        : $('#account_id').val(),
            'service_id'        : $('#service_id').val(),
            'status_id'         : $('#status_id').val(),
            'details'           : $('#details').val(),
            'appointment_date'  : $('#appointment_date').val(),
            'time'              : 0,
            'assigned'          : ''
        }

        if (document.getElementById('09:00AM-10:00AM').checked) data.time = 9
        if (document.getElementById('10:00AM-11:00AM').checked) data.time = 10
        if (document.getElementById('11:00AM-12:00NN').checked) data.time = 11
        if (document.getElementById('01:00PM-02:00PM').checked) data.time = 13
        if (document.getElementById('02:00PM-03:00PM').checked) data.time = 14
        if (document.getElementById('03:00PM-04:00PM').checked) data.time = 15
        if (document.getElementById('04:00PM-05:00PM').checked) data.time = 16
        if (data.time == 0) data.appointment_date = ''

        $('#record_id_error').html('')
        $('#details_error').html('')
        $('#appointment_date_error').html('')
        $('#account_id_error').html('')
        $('#status_id_error').html('')
        $('#service_id_error').html('')

        Controller.POST('/api/appointment/upsert', data).done(function (result) {
            console.log(result)
            if (result.success == true) {
                location.href = '/patient/dashboard'
            }
            else {

                if (result.errors.account_id) $('#account_id_error').html(result.errors.account_id)
                if (result.errors.status_id) $('#status_id_error').html(result.errors.status_id)
                if (result.errors.service_id) $('#service_id_error').html(result.errors.service_id)
                if (result.errors.details) $('#details_error').html(result.errors.details)
                if (result.errors.appointment_date) $('#appointment_date_error').html(result.errors.appointment_date)
            }
        })

    }


</script>
{% endblock %}