<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content='{{ csrf_token() }}'>
    <title>Faculties | Hi-Prof Kiosk</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href='/static/argon/vendor/nucleo/css/nucleo.css' type="text/css">
    <link rel="stylesheet" href='/static/argon/vendor/@fortawesome/fontawesome-free/css/all.min.css' type="text/css">
    <link rel="stylesheet" href='/static/argon/css/argon.min.css' type="text/css">

</head>

<body class="bg-secondary">

    <div class="main-content">

        <div class="container-fluid py-5 ">
            <div class="row m-0 p-0">
            {% for i in data.faculties %}
                <div class="col-lg-3 col-md-4 m-0 p-1">
                    <a id=link-{{i.id}} href="/common/faculty/{{i.id}}">
                        <div class="card bg-white border m-0 p-0">
                            <div class="card-header text-center">
                                <span id=badge-{{i.id}} class="badge badge-sm badge-circle badge-dark float-left m-0 p-0"> </span>
                            </div>
                            <div class="card-body px-lg-5 py-lg-5 text-center">
                                <h4>{{ i.first_name }} {{ i.middle_name }} {{ i.last_name }}</h4>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>

    </div>

    <!-- Argon Scripts -->
    <!-- Core -->
    <script src='/static/argon/vendor/jquery/dist/jquery.min.js'></script>
    <script src='/static/argon/vendor/bootstrap/dist/js/bootstrap.bundle.min.js'></script>
    <script src='/static/argon/vendor/js-cookie/js.cookie.js'></script>
    <script src='/static/argon/vendor/jquery.scrollbar/jquery.scrollbar.min.js'></script>
    <script src='/static/argon/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js'></script>
    <script src='/static/argon/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'></script>

    <!-- Argon JS -->
    <script src='/static/argon/js/argon.min.js'></script>

    <!-- Backend JS -->
    <script src="/static/js/core.js"></script>
    
    <script>
    
        setInterval(function() {
                
            Controller.GET('/api/account/get/all').done(function(result) {
                result.forEach(function(i){
                    $('#badge-'+i.id).removeClass("badge-dark")
                    if(i.status_id == 5) {
                        $('#badge-'+i.id).removeClass("badge-danger")
                        $('#badge-'+i.id).addClass("badge-success")
                    }
                    else {
                        $('#badge-'+i.id).addClass("badge-danger")
                        $('#badge-'+i.id).removeClass("badge-success")
                    }
                })
            })

        }, 2000);

    </script>

</body>

</html>