<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content='{{ csrf_token() }}'>
    <title>Login | Hi-Prof Kiosk</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href='/static/argon/vendor/nucleo/css/nucleo.css' type="text/css">
    <link rel="stylesheet" href='/static/argon/vendor/@fortawesome/fontawesome-free/css/all.min.css' type="text/css">
    <link rel="stylesheet" href='/static/argon/css/argon.min.css' type="text/css">

    {% block css %}{% endblock %}

</head>

<body class="bg-secondary">

    <div class="main-content">
    
        <div class="header bg-secondary py-7 py-lg-8">
            <div class="container">
                <div class="header-body text-center mb-3">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-6">
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-secondary" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </div>
    
        <div class="container mt--8 pb-5">
            <div class="row justify-content-center">
                <!-- <div class="col-lg-5 col-md-5 order-lg-2">
                    <img class="card-img-top" style="height: 60;" src="/static/img/logo-transparent-lg.jpg">
                </div> -->
                <div class="col-lg-5 col-md-7 order-lg-1">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header text-center">
                            <h2>Login to your Account</h2>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5">
                            <form class="form" method="post" action="{{url_for('login')}}">
                                {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            <p class="h5 text-danger text-center">{{message}}</p>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Email" type="text" name="email">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Password" type="password" name="password">
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success my-4">Login</button>
                                    <small class="text-muted d-block">Don't have an account?<a
                                            href="{{url_for('register')}}"> Register</a></small>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Argon Scripts -->
    <!-- Core -->
    <script src='/static/argon/vendor/jquery/dist/jquery.min.js'></script>
    <script src='/static/argon/vendor/bootstrap/dist/js/bootstrap.bundle.min.js'></script>
    <script src='/static/argon/vendor/js-cookie/js.cookie.js'></script>
    <script src='/static/argon/vendor/jquery.scrollbar/jquery.scrollbar.min.js'></script>
    <script src='/static/argon/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js'></script>
    <script src='/static/argon/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'></script>

    <!-- Argon JS -->
    <script src='/static/argon/js/argon.min.js'></script>

</body>

</html>
