<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content='{{ csrf_token() }}'>
    <title>Register | Hi-Prof Kiosk</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href='/static/argon/vendor/nucleo/css/nucleo.css' type="text/css">
    <link rel="stylesheet" href='/static/argon/vendor/@fortawesome/fontawesome-free/css/all.min.css' type="text/css">
    <link rel="stylesheet" href='/static/argon/css/argon.min.css' type="text/css">

</head>

<body class="bg-secondary">

    <div class="main-content">

        <div class="header bg-secondary py-7 py-lg-8">
            <div class="container">
                <div class="header-body text-center mb-3">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-6">
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-secondary" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </div>

        <div class="container mt--8 pb-5">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header text-center">
                            <h1>Create your Account</h1>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5">
                            <form class="form" method="post" action="{{url_for('register_non_faculty')}}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <div class="form-group mb-3">
                                    {% if data.errors.id_number %}
                                        <span id="id_number_error" class="h5 text-danger">{{data.errors.id_number[0]}}</span>
                                    {% endif %}
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="ID Number" type="text" name="id_number" id="id_number">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    {% if data.errors.first_name %}
                                        <span id="first_name_error" class="h5 text-danger">{{data.errors.first_name[0]}}</span>
                                    {% endif %}
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="First Name" type="text" name="first_name" id="first_name">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    {% if data.errors.last_name %}
                                        <span id="last_name_error" class="h5 text-danger">{{data.errors.last_name[0]}}</span>
                                    {% endif %}
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Last Name" type="text" name="last_name" id="last_name">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    {% if data.errors.email %}
                                        <span id="email_error" class="h5 text-danger">{{data.errors.email[0]}}</span>
                                    {% endif %}
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Email" type="text" name="email" id="email">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    {% if data.errors.phone %}
                                        <span id="phone_error" class="h5 text-danger">{{data.errors.phone[0]}}</span>
                                    {% endif %}
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Phone Number" type="text" name="phone" id="phone">
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    {% if data.errors.password %}
                                        <span id="password_error" class="h5 text-danger">{{data.errors.password[0]}}</span>
                                    {% endif %}
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Password" type="password" name="password" id="password">
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success my-4">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Argon Scripts -->
    <!-- Core -->
    <script src='/static/argon/vendor/jquery/dist/jquery.min.js'></script>
    <script src='/static/argon/vendor/bootstrap/dist/js/bootstrap.bundle.min.js'></script>
    <script src='/static/argon/vendor/js-cookie/js.cookie.js'></script>
    <script src='/static/argon/vendor/jquery.scrollbar/jquery.scrollbar.min.js'></script>
    <script src='/static/argon/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js'></script>
    <script src='/static/argon/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'></script>

    <!-- Argon JS -->
    <script src='/static/argon/js/argon.min.js'></script>

    <script>
        
        {% if data.input.id_number %}
            $('#id_number').val('{{data.input.id_number}}')
        {% endif %}
        {% if data.input.first_name %}
            $('#first_name').val('{{data.input.first_name}}')
        {% endif %}
        {% if data.input.last_name %}
            $('#last_name').val('{{data.input.last_name}}')
        {% endif %}
        {% if data.input.phone %}
            $('#phone').val('{{data.input.phone}}')
        {% endif %}
        {% if data.input.email %}
            $('#email').val('{{data.input.email}}')
        {% endif %}
        {% if data.input.password %}
            $('#password').val('{{data.input.password}}')
        {% endif %}
    </script>

</body>

</html>