<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-dark bg-dark" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header align-items-center">
            <a class="navbar-brand" href="/">
                <h3 class="text-white">Administration</h3>
            </a>
            <div class="sidenav-body">
                <div class="navbar-inner">
                    <!-- Collapse -->
                    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                        <!-- Nav items -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a id="menu-dashboard" class="nav-link" href="/admin/dashboard">
                                <i class="ni ni-tv-2"></i>
                                <span class="nav-link-text">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="menu-appointments" class="nav-link" href="/admin/appointments">
                                <i class="ni ni-calendar-grid-58"></i>
                                <span class="nav-link-text">Appointments</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="menu-accounts" class="nav-link" href="/admin/accounts">
                                <i class="ni ni-circle-08"></i>
                                <span class="nav-link-text">Accounts</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="menu-settings" class="nav-link" href="/admin/settings">
                                <i class="ni ni-settings-gear-65"></i>
                                <span class="nav-link-text">Settings</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="menu-settings" class="nav-link" href="/logout">
                                <i class="ni ni-user-run"></i>
                                <span class="nav-link-text">Logout</span>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>