{% extends 'admin/shared/layout.html' %}
{% block title %}
Accounts
{% endblock %}

{% block css %}{% endblock %}

{% block modal %}
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content card bg-secondary shadow">
                <div class="modal-header card-header bg-white border-0">
                    <h4 class="card-title">Account Information</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body card-body">
                    <div class="row">
                        <input id="id" name="id" type="text" class="form-control " hidden value="-1">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Roles <span id="role_id_error" class="h5 text-danger"></span></label>
                                <select id="role_id" name="role_id" data-style="bg-white px-4 py-3 shadow-sm" class="form-control  selectpicker" data-live-search="true">
                                    <option value="1">Administrator</option>
                                    <option value="2">Faculty</option>
                                    <option value="3">Student</option>
                                    <option value="4">Guest</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">ID Number <span style="font-weight: 100">(Required if student)</span> <span id="id_number_error" class="h5 text-danger"></span></label>
                                <input id="id_number" name="id_number" type="text" class="form-control ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">First Name <span id="first_name_error" class="h5 text-danger"></span></label>
                                <input id="first_name" name="first_name" type="text" class="form-control ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Middle Name</label>
                                <input id="middle_name" name="middle_name" type="text" class="form-control ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Last Name <span id="last_name_error" class="h5 text-danger"></span></label>
                                <input id="last_name" name="last_name" type="text" class="form-control ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Email <span id="email_error" class="h5 text-danger"></span></label>
                                <input id="email" name="email" type="text" class="form-control ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Position <span style="font-weight: 100">(for non-student)</span> <span id="position_error" class="h5 text-danger"></span></label>
                                <input id="position" name="position" type="text" class="form-control ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Objective <span style="font-weight: 100">(for non-student)</span> <span id="objective_error" class="h5 text-danger"></span></label>
                                <input id="objective" name="objective" type="text" class="form-control ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Phone <span id="phone_error" class="h5 text-danger"></span></label>
                                <input id="phone" name="phone" type="text" class="form-control ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Password <span style="font-weight: 100">(leave blank to remain unchanged)</span> <span id="password_error" class="h5 text-danger"></span></label>
                                <input id="password" name="password" name="password" type="password" class="form-control ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Birthdate</label>
                                <input id="birth_date" name="birth_date" type="text" class="form-control  datepicker">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Gender</label>
                                <select id="gender" name="gender" data-style="bg-white px-4 py-3 shadow-sm" class="form-control  selectpicker" data-live-search="true">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Address <span id="address_error" class="h5 text-danger"></span></label>
                                <input id="address" name="address" type="text" class="form-control ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-sm btn-success" onclick="Save()">Save</button>
                </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="main-content" id="panel">
    <!-- Header -->
    <div class="header pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col">
                        <p class="display-2 text-default d-inline-block mb-0">Accounts</p>
                    </div>
                    <div class="col text-right">
                        <button class="btn btn-md btn-success" onclick="AddNew()">Add New</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col text-left">
                                <p class="display-4 text-default d-inline-block">Administrators List</p>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Account Type</th>
                                    <th scope="col" class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for account in data %}
                                    {% if account.role_id is not none and account.role_id == 1 %}
                                        <tr id='account-{{account.id}}' data-id={{account.id}}>
                                            <th scope="row">
                                                {{account.first_name + ' ' + account.last_name}}
                                            </th>
                                            <td>
                                                {{account.email}}
                                            </td>
                                            <td>
                                                {{account.role.role}}
                                            </td>
                                            <td class="text-right">
                                                <button onclick='Edit(this)' class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></button>
                                                <button onclick='Delete(this)' class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col text-left">
                                <p class="display-4 text-default d-inline-block">Faculty List</p>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Account Type</th>
                                    <th scope="col" class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for account in data %}
                                    {% if account.role_id is not none and account.role_id == 2 %}
                                        <tr id='account-{{account.id}}' data-id={{account.id}}>
                                            <th scope="row">
                                                {{account.first_name + ' ' + account.last_name}}
                                            </th>
                                            <td>
                                                {{account.email}}
                                            </td>
                                            <td>
                                                {{account.role.role}}
                                            </td>
                                            <td class="text-right">
                                                <button onclick='Edit(this)' class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></button>
                                                <button onclick='Delete(this)' class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col text-left">
                                <p class="display-4 text-default d-inline-block">Students & Guests List</p>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Account Type</th>
                                    <th scope="col" class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for account in data %}
                                    {% if account.role_id is not none and (account.role_id == 3 or account.role_id == 4) %}
                                        <tr id='account-{{account.id}}' data-id={{account.id}}>
                                            <th scope="row">
                                                {{account.first_name + ' ' + account.last_name}}
                                            </th>
                                            <td>
                                                {{account.email}}
                                            </td>
                                            <td>
                                                {{account.role.role}}
                                            </td>
                                            <td class="text-right">
                                                <button onclick='Edit(this)' class="btn btn-warning btn-sm"><i class="fa fa-edit"></i></button>
                                                <button onclick='Delete(this)' class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

    setSideBar('#menu-accounts')

    var modal = '#modal-default'

    var AddNew = function() {
        
        $('#id_number_error').html('')
        $('#first_name_error').html('')
        $('#last_name_error').html('')
        $('#phone_error').html('')
        $('#email_error').html('')
        $('#password_error').html('')
        $('#address_error').html('')
        $('#position_error').html('')
        $('#objective_error').html('')

        $('#id').val('-1')
        $('#first_name').val('')
        $('#middle_name').val('')
        $('#last_name').val('')
        $('#email').val('')
        $('#phone').val('')
        
        $(".selectpicker").selectpicker('deselectAll');
        $(".selectpicker").selectpicker('val', []);

        $('#password').val('')
        $('#birth_date').val('')
        $('#address').val('')
        $('#position').val('')
        $('#objective').val('')
        $('#role').val('')

        $(modal).modal({ 
            "backdrop"  : "static",
            "keyboard"  : true,
            "show"      : true
        })

    }

    var Save = function() {
        
        $('#id_number_error').html('')
        $('#first_name_error').html('')
        $('#last_name_error').html('')
        $('#phone_error').html('')
        $('#email_error').html('')
        $('#password_error').html('')
        $('#address_error').html('')
        $('#position_error').html('')
        $('#objective_error').html('')

        data = {
            'id'            : $('#id').val(),
            'id_number'     : $('#id_number').val(),
            'role_id'       : $('#role_id').val(),
            'first_name'    : $('#first_name').val(),
            'middle_name'   : $('#middle_name').val(),
            'last_name'     : $('#last_name').val(),
            'email'         : $('#email').val(),
            'phone'         : $('#phone').val(),
            'gender'        : $('#gender').val(),
            'password'      : $('#password').val(),
            'birth_date'    : $('#birth_date').val(),
            'address'       : $('#address').val(),
            'position'      : $('#position').val(),
            'objective'     : $('#objective').val()
        }

        Controller.POST('/api/account/upsert', data).done(function(result) {
            
            console.log(data, result)

            if (result.success == true) {
                e = document.getElementById('account-'+result.account.id)
                if (e == null) {
                    location.reload()
                }
                else {
                    e.childNodes[1].innerHTML = result.account.first_name + ' ' + result.account.last_name
                    e.childNodes[3].innerHTML = result.account.email
                    e.childNodes[5].innerHTML = result.account.role
                    $(modal).modal('hide')
                }
            }
            else {

                if(result.errors.role_id) $('#role_id_error').html(result.errors.role_id)
                if(result.errors.id_number) $('#id_number_error').html(result.errors.id_number)
                if(result.errors.first_name) $('#first_name_error').html(result.errors.first_name)
                if(result.errors.last_name) $('#last_name_error').html(result.errors.last_name)
                if(result.errors.phone) $('#phone_error').html(result.errors.phone)
                if(result.errors.email) $('#email_error').html(result.errors.email)
                if(result.errors.password) $('#password_error').html(result.errors.password)
                if(result.errors.address) $('#address_error').html(result.errors.address)
                if(result.errors.position) $('#position_error').html(result.errors.position)
                if(result.errors.objective) $('#objective_error').html(result.errors.objective)

            }
        })

    }

    var Edit = function(e) {

        $('#id_number_error').html('')
        $('#first_name_error').html('')
        $('#last_name_error').html('')
        $('#phone_error').html('')
        $('#email_error').html('')
        $('#password_error').html('')
        $('#address_error').html('')
        $('#position_error').html('')
        $('#objective_error').html('')

        id = e.parentNode.parentNode.dataset.id
        
        Controller.GET('/api/account/get/' + id, {}).done(function(result) {

            console.log(result)

            $('#id').val(result.id)
            $('#id_number').val(result.id_number)
            $("#role_id").selectpicker('val', result.role_id)
            $('#first_name').val(result.first_name)
            $('#middle_name').val(result.middle_name)
            $('#last_name').val(result.last_name)
            $('#email').val(result.email)
            $('#phone').val(result.phone)
            $("#gender").selectpicker('val', result.gender)
            $("#civil").selectpicker('val', result.civil)
            $('#birth_date').val(result.birth_date)
            $('#address').val(result.address)
            $('#position').val(result.position)
            $('#objective').val(result.objective)

            $(modal).modal({
                "backdrop"  : "static",
                "keyboard"  : true,
                "show"      : true
            })

        })

    }

    var Delete = function(e) {
        
        id = e.parentNode.parentNode.dataset.id
        
        bootbox.confirm({
            message: "All data related to this account will be lost. Continue?",
            buttons: {
                confirm: {
                    label: 'Delete',
                    className: 'btn-sm btn-danger'
                },
                cancel: {
                    label: 'Cancel',
                    className: 'btn-sm btn-info'
                }
            },
            callback: function (result) {
                if (result) {
                    
                    Controller.POST('/api/account/delete', {'id': id}).done(function(result) {
                        if(result.success) e.parentNode.parentNode.remove()
                    })

                }
            }
        })
    }

</script>
{% endblock %}