{% extends 'admin/shared/layout.html' %}
{% block title %}
Appointments
{% endblock %}

{% block css %}
<style>
    .dropdown-menu {
        min-width: 6rem;
    }
</style>
{% endblock %}

{% block content %}
<div class="main-content" id="panel">
    <!-- Header -->
    <div class="header pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col">
                        <p class="display-2 text-default d-inline-block mb-0">Appointments</p>
                    </div>
                    <div class="col text-right">
                        <div class="dropdown">
                            <button class="btn btn-success btn-md dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Export
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#" onclick="export_to_excel()">Excel</a>
                              <a class="dropdown-item" href="#" onclick="export_to_pdf()">PDF</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">

                            <div class="col text-left d-flex justify-content-start align-items-center">

                                <form class="form" method="get" action="/admin/appointments">

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="form-control-label">
                                                    Faculty
                                                </label>
                                                <select id="account" name="account" data-style="bg-03 px-4 py-3" class="form-control selectpicker" data-live-search="true" multiple data-max-options="1">
                                                    {% for i in data.consultants %}
                                                        <option value="{{i.id}}">{{i.first_name}} {{i.last_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="form-control-label">
                                                    Purpose
                                                </label>
                                                <select id="purpose" name="purpose" data-style="bg-03 px-4 py-3 shadow-sm" class="form-control selectpicker" data-live-search="true" multiple data-max-options="1">
                                                    {% for p in data.purpose %}
                                                        <option value="{{p.id}}">{{p.purpose}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="form-control-label">
                                                    Status
                                                </label>
                                                <select id="status" name="status" data-style="bg-03 px-4 py-3 shadow-sm" class="form-control selectpicker" data-live-search="true" multiple data-max-options="1">
                                                    {% for s in data.status %}
                                                        <option value="{{s.id}}">{{s.status}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-daterange datepicker row align-items-center">
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="form-control-label">Start Date</label>
                                                <input name="start_date" id="start_date" class="form-control" placeholder="Start date" type="text">
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="form-control-label">End Date</label>
                                                <input name="end_date" id="end_date" class="form-control" placeholder="End date" type="text">
                                            </div>
                                        </div>
                                        <div class="col text-left d-flex justify-content-start align-items-center">
                                            <button class="btn btn-md btn-success" >Search</button>
                                            <!-- <button class="btn btn-md btn-success" onclick="clear()">Clear</button> -->
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="table-appointments" class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">APPOINTMENT DATE</th>
                                    <th scope="col">FACULTY</th>
                                    <th scope="col">PARTICIPANT(S)</th>
                                    <th scope="col">PURPOSE</th>
                                    <th scope="col">STATUS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if data.appointments != None %}
                                    {% for i in data.appointments %}
                                        <tr>
                                            <td>
                                                {{i.schedule.strftime('%h %d %Y')|day_of_week}}
                                                {% for x in i.queues %}
                                                    {{x.created_at.strftime('%I:%M %p')}}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {{i.faculty.first_name}} {{i.faculty.last_name}}
                                            </td>
                                            <td>
                                                {% for x in i.participants_list %}
                                                    {% if x.id_number == None %}
                                                        ({{x.role.role|capitalize}}) {{x.first_name}} {{x.last_name}}
                                                    {% else %}
                                                        {{x.id_number}} {{x.first_name}} {{x.last_name}}
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {{i.purpose.purpose}}
                                            </td>
                                            <td>
                                                {{i.status.status}}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

<script>

    setSideBar('#menu-appointments')

    function export_to_excel() {
        $('#table-appointments').table2excel({
            exclude: ".no-export",
            filename: "download.xls",
            fileext: ".xls",
            exclude_links: true,
            exclude_inputs: true
        });
    }

    function export_to_pdf() {
        html2canvas($('#table-appointments')[0], {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("download.pdf");
            }
        });
    }

</script>

{% endblock %}