{% extends 'shared/layout.html' %}
{% block title %}
Inventory
{% endblock %}

{% block css %}{% endblock %}

{% block modal %}
<div class="modal fade" id="modal-inventory">
    <div class="modal-dialog">
        <div class="modal-content card bg-secondary shadow">
            <div class="modal-header card-header bg-white border-0">
                <h4 class="card-title">Inventory Info</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label">Item <span id="inventory_id_error" class="h5 text-danger"></span></label>
                            <select id="inventory_id" name="inventory_id" data-style="bg-white px-4 py-3 shadow-sm" class="form-control  selectpicker" data-live-search="true">
                                {% for inventory in data.inventories %}
                                    <option value="{{inventory.id}}">({{inventory.item_code}}) {{inventory.item}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label">Quantity <span id="quantity_error" class="h5 text-danger"></span></label>
                            <input id="quantity" name="quantity" type="number" min="1" class="form-control" value="1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label">Expiry <span id="expiry_date_error" class="h5 text-danger"></span></label> 
                            <input id="expiry_date" name="expiry_date" type="text" class="form-control datepicker">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label">Status <span id="status_id_error" class="h5 text-danger"></span></label>
                            <select id="status_id" name="status_id" data-style="bg-white px-4 py-3 shadow-sm" class="form-control  selectpicker" data-live-search="true">
                                {% for status in data.status %}
                                    {% if status.id >= 5 %}
                                        <option value="{{status.id}}">{{status.status}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                <button class="btn btn-sm btn-success" onclick="SaveInventory()">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-item">
    <div class="modal-dialog">
        <div class="modal-content card bg-secondary shadow">
            <div class="modal-header card-header bg-white border-0">
                <h4 class="card-title">Item Info</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body card-body">
                <div class="row">
                    <input id="item_id" name="item_id" type="text" class="form-control " hidden value="-1">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label">Item Code <span id="item_code_error" class="h5 text-danger"></span></label>
                            <input id="item_code" name="item_code" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label">Item Name <span id="item_error" class="h5 text-danger"></span></label>
                            <input id="item" name="item" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label">Minimum Quantity <span id="min_quantity_error" class="h5 text-danger"></span></label>
                            <input id="min_quantity" name="min_quantity" type="number" min="1" class="form-control" value="1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label">Maximum Quantity <span id="max_quantity_error" class="h5 text-danger"></span></label>
                            <input id="max_quantity" name="max_quantity" type="number" min="1" class="form-control" value="1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label">Reorder Level <span id="reorder_level_error" class="h5 text-danger"></span></label>
                            <input id="reorder_level" name="reorder_level" type="number" min="1" class="form-control" value="1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                <button class="btn btn-sm btn-success" onclick="SaveItem()">Save</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="main-content" id="panel">

    <div class="header pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <p class="display-2 text-default d-inline-block mb-0">Inventory</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--6">

        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <p class="display-4 d-inline-block mb-0">Supplies</p>
                            </div>
                            <div class="col text-right">
                                <button class="btn btn-sm btn-success" onclick="AddNewItem()">Add New Item</button>
                                <button class="btn btn-sm btn-success" onclick="AddNewInventory()">Add Supplies</button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">

                        <table class="table align-items-center table-flush">

                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Item Code - Item Name</th>
                                    <th scope="col">Min Qty</th>
                                    <th scope="col">Max Qty</th>
                                    <th scope="col">Reorder Level</th>
                                    <th scope="col">Available Items</th>
                                    <th scope="col">Status</th>
                                    <th scope="col" class="text-left">Action</th>
                                </tr>
                            </thead>

                            <tbody>

                                {% for inventory in data.inventories %}

                                    <tr id='inventory-{{inventory.id}}' data-id={{inventory.id}}>
                                        <td>
                                            {{inventory.item_code}} - {{inventory.item}}
                                        </td>
                                        <td>
                                            {{inventory.min_quantity}}
                                        </td>
                                        <td>
                                            {{inventory.max_quantity}}
                                        </td>
                                        <td>
                                            {% if inventory.is_sufficient %}
                                                {{ inventory.reorder_level }}
                                            {% else %}
                                                <span class="badge badge-lg badge-pill badge-danger mb-1 d-block">You need to add new supplies!</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ inventory.available_items|length }} Items
                                        </td>
                                        <td>
                                            <span class="badge badge-lg badge-pill badge-default mb-1 d-block">{{ inventory.used_items|length}} Total Used Items</span>
                                            <span class="badge badge-lg badge-pill badge-default mb-1 d-block">{{ inventory.expired_items|length }} Total Expired Items</span>
                                        </td>
                                        <td class="text-right">
                                            <button onclick="EditItem('{{ inventory.id }}')" class="btn btn-warning btn-sm d-block mb-1"><i class="fa fa-edit"></i></button>
                                        </td>
                                    </tr>

                                {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script>

    setSideBar('#menu-inventory')

    var modal_inventory = '#modal-inventory'
    var modal_item      = '#modal-item'

    var AddNewInventory = function () {

        $('#inventory_id').val('')
        $('#quantity').val('')
        $('#expiry_date').val('')
        $(".selectpicker").selectpicker('deselectAll')
        $(".selectpicker").selectpicker('val', 5)

        $('#inventory_id_error').html('')
        $('#expiry_date_error').html('')
        $('#quantity_error').html('')
        $('#status_id_error').html('')

        $(modal_inventory).modal({
            "backdrop": "static",
            "keyboard": true,
            "show": true
        })

    }

    var SaveInventory = function () {

        $('#inventory_id_error').html('')
        $('#expiry_date_error').html('')
        $('#quantity_error').html('')
        $('#status_id_error').html('')

        data = {
            'inventory_id'  : $('#inventory_id').val(),
            'expiry_date'   : $('#expiry_date').val(),
            'quantity'      : $('#quantity').val(),
            'status_id'     : $('#status_id').val()
        }

        Controller.POST('/api/inventory/items/upsert', data).done(function (result) {
            if (result.success) {
                location.reload()
            }
            else {
                if (result.errors.item) $('#inventory_id_error').html(result.errors.item)
                if (result.errors.expiry_date) $('#expiry_date_error').html(result.errors.expiry_date)
                if (result.errors.quantity) $('#quantity_error').html(result.errors.quantity)
                if (result.errors.status_id) $('#status_id_error').html(result.errors.status_id)
            }
        })

    }

    // ====================================================================================

    var AddNewItem = function () {

        $('#item_id').val('-1')
        $('#item_code').val('')
        $('#item').val('')
        $('#min_quantity').val('')
        $('#max_quantity').val('')
        $('#reorder_level').val('')

        $('#item_code_error').html('')
        $('#item_error').html('')
        $('#min_quantity_error').html('')
        $('#max_quantity_error').html('')
        $('#reorder_level_error').html('')

        $(modal_item).modal({
            "backdrop": "static",
            "keyboard": true,
            "show": true
        })

    }

    var SaveItem = function () {

        $('#item_code_error').html('')
        $('#item_error').html('')
        $('#min_quantity_error').html('')
        $('#max_quantity_error').html('')
        $('#reorder_level_error').html('')

        data = {
            'id'            : $('#item_id').val(),
            'item_code'     : $('#item_code').val(),
            'item'          : $('#item').val(),
            'min_quantity'  : $('#min_quantity').val(),
            'max_quantity'  : $('#max_quantity').val(),
            'reorder_level' : $('#reorder_level').val()
        }

        Controller.POST('/api/inventory/upsert', data).done(function (result) {
            console.log(result)
            if (result.success) {
                location.reload()
            }
            else {
                if (result.errors.item_code) $('#item_code_error').html(result.errors.item_code)
                if (result.errors.item) $('#item_error').html(result.errors.item)
                if (result.errors.min_quantity) $('#min_quantity_error').html(result.errors.min_quantity)
                if (result.errors.max_quantity) $('#max_quantity_error').html(result.errors.max_quantity)
                if (result.errors.reorder_level) $('#reorder_level_error').html(result.errors.reorder_level)
            }
        })

    }

    var EditItem = function (item_id) {

        $('#item_code_error').html('')
        $('#item_error').html('')
        $('#min_quantity_error').html('')
        $('#max_quantity_error').html('')
        $('#reorder_level_error').html('')

        Controller.GET('/api/inventory/get/' + item_id, {}).done(function (result) {

            $('#item_id').val(result.id)
            $('#item_code').val(result.item_code)
            $('#item').val(result.item)
            $('#min_quantity').val(result.min_quantity)
            $('#max_quantity').val(result.max_quantity)
            $('#reorder_level').val(result.reorder_level)

            $(modal_item).modal({
                "backdrop": "static",
                "keyboard": true,
                "show": true
            })

        })

    }

</script>
{% endblock %}