{% extends 'faculty/shared/layout.html' %}
{% block title %}
    Appointments
{% endblock %}

{% block css %}{% endblock %}
{% block modal %}{% endblock %}

{% block content %}
<div class="main-content" id="panel">

    <!-- Header -->
    <div class="header pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7 d-flex align-items-center">
                        <p class="display-2 text-default d-inline-block mb-0 mr-4">Upcoming Appointments</p>
                    </div>
                </div>
            </div>  
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col text-left d-flex justify-content-start align-items-center">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">SCHEDULE</th>
                                    <th scope="col">PRIORITY</th>
                                    <th scope="col">PARTICIPANT(S)</th>
                                    <th scope="col">PURPOSE</th>
                                    <th scope="col" class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in data.upcoming | selectattr("account_id", "equalto", current_user.id) | list %}
                                    <tr>
                                        <td>
                                            {{i.schedule.strftime('%h %d %Y')|day_of_week}}
                                        </td>
                                        <td>
                                            {{i.priority}}
                                        </td>
                                        <td>
                                            {% for x in i.participants_list %}
                                                {% if x.id_number == None %}
                                                    {{x.role.role|capitalize}} {{x.last_name}}
                                                {% else %}
                                                    {{x.id_number}} {{x.last_name}}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {{i.purpose.purpose}}
                                        </td>
                                        <td class="text-right">
                                            <button onclick='Approve({{i.id}})' class="btn btn-success btn-sm">APPROVE</button>
                                            <button onclick='Disapprove({{i.id}})' class="btn btn-danger btn-sm">DISAPPROVE</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col text-left">
                                <h3>APPROVAL STATUS</h3>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">APPOINTMENT</th>
                                    <th scope="col">STATUS</th>
                                    <th scope="col">REMARKS</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in data.approval %}
                                    <tr>
                                        <td>
                                            {% if i.participants_list|length < 1 %}
                                                <h5>--</h5>
                                            {% endif %}
                                            {% for x in i.participants_list %}
                                                {% if x.id_number == None %}
                                                    <h5>{{x.role.role|capitalize}}</h5>
                                                {% else %}
                                                    <h5>{{x.id_number}}</h5>
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <h5>{{i.status.status}}</h5>
                                        </td>
                                        <td>
                                            <h5>{{i.remarks}}</h5>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script>
    
    setSideBar('#menu-appointments')

    function Approve(id) {
        
        bootbox.prompt({
                title: 'Remarks',
            callback: function(proceed) {
                    if (proceed) {
                        data = {
                            'id'        :   id,
                            'status_id' :   7,
                            'remarks'   :   proceed
                        }
                        Controller.POST('/api/appointment/update/remarks', data).done(function(result) {
                            console.log(result)
                            Controller.POST('/api/appointment/update/status', data).done(function(result) {
                                console.log(result)
                                window.location = "/faculty/appointments"
                            })
                        })
                    }
                }
            });

    }

    function Disapprove(id) {
        bootbox.prompt({
                title: 'Remarks',
            callback: function(proceed) {
                    if (proceed) {
                        data = {
                            'id'        :   id,
                            'status_id' :   8,
                            'remarks'   :   proceed
                        }
                        Controller.POST('/api/appointment/update/remarks', data).done(function(result) {
                            console.log(result)
                            Controller.POST('/api/appointment/update/status', data).done(function(result) {
                                console.log(result)
                                window.location = "/faculty/appointments"
                            })
                        })
                    }
                }
            });

    }



</script>
{% endblock %}
