{% extends 'faculty/shared/layout.html' %}
{% block title %}
    Consultation
{% endblock %}

{% block css %}{% endblock %}

{% block modal %}
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content card bg-secondary shadow">
                <div class="modal-header card-header bg-white border-0">
                    <h4 class="card-title">Account Information</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body card-body">
                    <div class="row">
                        <input id="id" name="id" type="text" class="form-control " hidden value="-1">
                        <input id="role_id" name="role_id" type="text" class="form-control " hidden value="2">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">First Name <span id="first_name_error" class="h5 text-danger"></span></label>
                                <input id="first_name" name="first_name" type="text" class="form-control ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Middle Name</label>
                                <input id="middle_name" name="middle_name" type="text" class="form-control ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Last Name <span id="last_name_error" class="h5 text-danger"></span></label>
                                <input id="last_name" name="last_name" type="text" class="form-control ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Email <span id="email_error" class="h5 text-danger"></span></label>
                                <input id="email" name="email" type="text" class="form-control ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Phone <span id="phone_error" class="h5 text-danger"></span></label>
                                <input id="phone" name="phone" type="text" class="form-control ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Password <span style="font-weight: 100">(leave blank to remain unchanged)</span> <span id="password_error" class="h5 text-danger"></span></label>
                                <input id="password" name="password" name="password" type="password" class="form-control ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Birthdate</label>
                                <input id="birth_date" name="birth_date" type="text" class="form-control  datepicker">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Gender</label>
                                <select id="gender" name="gender" data-style="bg-white px-4 py-3 shadow-sm" class="form-control  selectpicker" data-live-search="true">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Address <span id="address_error" class="h5 text-danger"></span></label>
                                <input id="address" name="address" type="text" class="form-control ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-sm btn-success" onclick="Save()">Save</button>
                </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-photo">
    <div class="modal-dialog">
        <div class="modal-content card bg-secondary shadow">
            <form class="form" method="post" action="{{url_for('uploader_file')}}" enctype = "multipart/form-data">
                <div class="modal-header card-header bg-white border-0">
                    <h4 class="card-title">Upload Photo</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body card-body">
                    <div class="row">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <input type="file" name="file" />
                            <input type="text" id="target" name="target" class="form-control " hidden value="1">
                            <input type="text" id="photo" name="photo" class="form-control " hidden value="-1">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-sm btn-success" type="submit" >Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="main-content" id="panel">

    <!-- Header -->
    <div class="header pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7 d-flex align-items-center">
                        <p class="display-2 text-default d-inline-block mb-0 mr-4">Profile</p>
                    </div>
                </div>
            </div>  
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col text-left">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Profile Picture</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Account Type</th>
                                    <th scope="col">Floor Plan</th>
                                    <th scope="col" class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id='account-{{data.id}}' data-id={{data.id}}>
                                    <th scope="row">
                                        <img src="{{url_for('static', filename=data.image_profile)}}" alt="" class="img-fluid" style="max-width: 100px" onclick='Profile(this)'>
                                    </th>
                                    <th>
                                        {{data.first_name + ' ' + data.last_name}}
                                    </th>
                                    <td>
                                        {{data.email}}
                                    </td>
                                    <td>
                                        {{data.phone}}
                                    </td>
                                    <td>
                                        {{data.address}}
                                    </td>
                                    <td>
                                        {{data.role.role}}
                                    </td>
                                    <th>
                                        <img src="{{url_for('static', filename=data.image_location)}}" alt="" class="img-fluid" style="max-width: 100px" onclick='FloorPlan(this)'>
                                    </th>
                                    <td class="text-right">
                                        <button onclick='Edit(this)' class="btn btn-warning btn-sm"><i class="fa fa-edit"></i> EDIT</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script>
    
    setSideBar('#menu-profile')

    var modal = '#modal-default'
    var photo = '#modal-photo'

    var AddNew = function() {
        
        $('#first_name_error').html('')
        $('#last_name_error').html('')
        $('#phone_error').html('')
        $('#email_error').html('')
        $('#password_error').html('')
        $('#address_error').html('')

        $('#id').val('-1')
        $('#first_name').val('')
        $('#middle_name').val('')
        $('#last_name').val('')
        $('#email').val('')
        $('#phone').val('')
        
        $(".selectpicker").selectpicker('deselectAll');
        $(".selectpicker").selectpicker('val', []);

        $('#password').val('')
        $('#birth_date').val('')
        $('#address').val('')
        $('#role').val('')

        $(modal).modal({ 
            "backdrop"  : "static",
            "keyboard"  : true,
            "show"      : true
        })

    }

    var Save = function() {
        
        $('#first_name_error').html('')
        $('#last_name_error').html('')
        $('#phone_error').html('')
        $('#email_error').html('')
        $('#password_error').html('')
        $('#address_error').html('')

        data = {
            'id'            : $('#id').val(),
            'id_number'     : '',
            'role_id'       : $('#role_id').val(),
            'first_name'    : $('#first_name').val(),
            'middle_name'   : $('#middle_name').val(),
            'last_name'     : $('#last_name').val(),
            'email'         : $('#email').val(),
            'phone'         : $('#phone').val(),
            'gender'        : $('#gender').val(),
            'password'      : $('#password').val(),
            'birth_date'    : $('#birth_date').val(),
            'address'       : $('#address').val()
        }

        Controller.POST('/api/account/upsert', data).done(function(result) {
            
            console.log(data, result)

            if (result.success == true) location.reload()
            else {

                if(result.errors.role_id) $('#role_id_error').html(result.errors.role_id)
                if(result.errors.first_name) $('#first_name_error').html(result.errors.first_name)
                if(result.errors.last_name) $('#last_name_error').html(result.errors.last_name)
                if(result.errors.phone) $('#phone_error').html(result.errors.phone)
                if(result.errors.email) $('#email_error').html(result.errors.email)
                if(result.errors.password) $('#password_error').html(result.errors.password)
                if(result.errors.address) $('#address_error').html(result.errors.address)

            }
        })

    }

    var Edit = function(e) {

        $('#first_name_error').html('')
        $('#last_name_error').html('')
        $('#phone_error').html('')
        $('#email_error').html('')
        $('#password_error').html('')
        $('#address_error').html('')

        id = e.parentNode.parentNode.dataset.id
        
        Controller.GET('/api/account/get/' + id, {}).done(function(result) {

            console.log(result)

            $('#id').val(result.id)
            $("#role_id").selectpicker('val', result.role_id)
            $('#first_name').val(result.first_name)
            $('#middle_name').val(result.middle_name)
            $('#last_name').val(result.last_name)
            $('#email').val(result.email)
            $('#phone').val(result.phone)
            $("#gender").selectpicker('val', result.gender)
            $("#civil").selectpicker('val', result.civil)
            $('#birth_date').val(result.birth_date)
            $('#address').val(result.address)
            $('#occupation').val(result.occupation)

            $(modal).modal({
                "backdrop"  : "static",
                "keyboard"  : true,
                "show"      : true
            })

        })

    }

    var Profile = function(e) {

        id = e.parentNode.parentNode.dataset.id
        $('#photo').val(id)
        $('#target').val(1) // 1 for profile. 2 for floor plan.

        $(photo).modal({
            "backdrop"  : "static",
            "keyboard"  : true,
            "show"      : true
        })

    }

    var FloorPlan = function(e) {

        id = e.parentNode.parentNode.dataset.id
        $('#photo').val(id)
        $('#target').val(2) // 1 for profile. 2 for floor plan.

        $(photo).modal({
            "backdrop"  : "static",
            "keyboard"  : true,
            "show"      : true
        })

    }

</script>
{% endblock %}
